<form  class="admin-form-add" method="post" action="" >
    <div class="admin-form-add-item">
        <label for="nameCate">Tên thương hiệu</label>
        <input type="text" name="nameCate" id="nameCate">
    </div>
    <div class="admin-form-add-item">
        <label for="imageCate">Ảnh </label>
        <input type="text" name="imageCate" id="imageCate">
    </div>
    <button type="submit" class="admin-form-add-submit">Thêm thương hieeuj</button>
</form>