<form  class="admin-form-add" method="post" action="" >
    <div class="admin-form-add-item">
        <label for="nameSlider">Tên slider</label>
        <input type="text" name="nameSlider" id="nameSlider">
    </div>
    <div class="admin-form-add-item">
        <label for="url">Url</label>
        <input type="text" name="url" id="url">
    </div>
    <button type="submit" class="admin-form-add-submit">Thêm</button>
</form>