<div class="admin-header">
    <div class="admin-menu-button"><ion-icon name="menu-outline"></ion-icon></div>
    <div class="admin-menu">
        <ul class="admin-menu-list">
            <li class="admin-menu-item">
                <span>Sản phẩm</span>
                <ul class="admin-menu-item-drop">
                    <li class="admin-menu-item-drop-item"><a href="/admin/view-pro">Xem sản phẩm</a></li>
                    <li class="admin-menu-item-drop-item"><a href="/admin/add-pro">Thêm sản phẩm</a></li>
                    {{!-- <li class="admin-menu-item-drop-item"><a href="/admin/edit-pro">Sửa sản phẩm</a></li> --}}
                </ul>
            </li>
            <li class="admin-menu-item">
                <span>Thương hiệu</span>
                <ul class="admin-menu-item-drop">
                    <li class="admin-menu-item-drop-item"><a href="/admin/view-cate">Xem thương hiệu</a></li>
                    <li class="admin-menu-item-drop-item"><a href="/admin/add-cate">Thêm thương hiệu</a></li>
                </ul>
            </li>
            <li class="admin-menu-item">
                <span>Slider</span>
                <ul class="admin-menu-item-drop">
                    <li class="admin-menu-item-drop-item"><a href="/admin/view-slider">Xem slider</a></li>
                    <li class="admin-menu-item-drop-item"><a href="/admin/add-slider">Thêm slider</a></li>
                </ul>
            </li>
            <li class="admin-menu-item">
                <span>Đơn hàng</span>
                <ul class="admin-menu-item-drop">
                    <li class="admin-menu-item-drop-item"><a href="/admin/manager">Xem đơn hàng</a></li>
                    <li class="admin-menu-item-drop-item"><a href="/admin/edit-manager">Xử lý đơn hàng</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="admin-logout">
        <a href="#">Đăng xuất</a>
    </div>
</div>