<footer class="footer">
    <div class="footer-content">
        <div class="footer-content-list">
            <div class="footer-content-item">
                <p>Bsneaker</p>
                <p>Hotline: 0357 998 668</p>
            </div>
            <div class="footer-content-item">
                <p>Liên hệ thanh toán</p>
                <p>Hotline: 035 799 8668</p>
                <p>Email</p>
                <p>Website: Bsneaker.vn</p>
            </div>
            <div class="footer-content-item">
                <p>Chính sách đổi trả</p>
                <p>Hướng dẫn mua hàng</p>
                <p>Sổ chỉ dẫn đường</p>
            </div>
            <div class="footer-content-item">
                <p>Fanpage</p>
            </div>
        </div>
    </div>
</footer>
<div class="hotline">
    <p>Hotline: 0357 998 668</p>
</div>