<div class="login">
    <div class="login-content">
        <form action="" class="login-form" autocomplete="off" method="post">
            <input type="text" placeholder="Email" name="email">
            <input type="text" placeholder="Password" name="password">
            <button type="submit" class="login-submit">
                Dang nhap
            </button>
            <div class="login-direct">
                <a href="/auth/facebook" class="login-direct-item">Facebook</a>
                <a href="/auth/google" class="login-direct-item">Google</a>
            </div>
            <div class="login-forgot">
                <a href="#"><ion-icon name="help-circle-outline"></ion-icon> Quen mat khau</a>
            </div>
        </form>
    </div>
</div>