<div class="register">
    <div class="register-content">
        <form action="" class="register-form" method="post">
            <input type="text" placeholder="Ho va ten" name="fullname">
            <input type="text" placeholder="Email" name="email">
            <input type="text" placeholder="Mat khau" name="password">
            <input type="text" placeholder="SDT" name="phone">
            <button type="submit">Dang ky</button>
        </form>
    </div>
</div>